<p id="notice"> <%= notice %> </p>

<%= link_to 'Questions', questions_path, class: "btn btn-primary" %>

<body class="question_show">
  <h1><%= @question.title %></h1>

  <p>
    <%= @question.body %>
  </p>

  <%= link_to 'Add Answer', new_question_answer_path(@question), class: "btn btn-success" %>

  <% @question.answers.each do |answer| %>
    <ul>
      <li><%= answer.body %></li>
    </ul>
  <% end %>

</body>
