<p id="notice"> <%= notice %> </p>

<h1><%= @question.title %></h1>

<p>
  <%= @question.body %>
</p>

<%= link_to 'Add Answer', new_question_answer_path(@question) %>

<% @question.answers.each do |answer| %>
  <tr>
    <td><%= answer.body %></td>
  </tr>
<% end %>

<%= link_to 'Questions', questions_path %>
