<h1>Search Results</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @pg_search_documents.find_each do |document| %>
      <tr>
        <% if document.searchable.class == Answer %>
          <td><%= document.searchable.body %></td>
          <td><%= link_to 'Show', document.searchable.question, class: "btn btn-secondary"%></td>
        <% else %>
          <td><%= document.searchable.title %></td>
          <td><%= document.searchable.body %></td>
          <td><%= link_to 'Show', document.searchable, class: "btn btn-primary"%></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @pg_search_documents %>
<%= page_entries_info @pg_search_documents %>
